.search_header {
  
  display: flex;
  position: sticky;
  align-items: flex-start;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}
.searchPage_logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}
.search_header_body > .search > .search_input{
    margin-top: 0;
    width: unset;
    
    margin: unset;
    max-width: unset; 
   
}

.searchPage_options{
  
    display: flex;
    align-items: center;
    color: gray;
}
.searchPage_optionsRight,
.searchPage_optionsLeft{
    display: flex;
}
.searchPage_options a{
    color: gray;
    text-decoration: none;
}
.searchPage_optionsRight{
    margin-left: 80px;
}
.searchPage_option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.searchPage_option a{
    margin-bottom: 5px;
}